/* line 2, app/assets/stylesheets/sei-styles.scss */
x-sei.sei-flag {
  border-bottom: 2px solid tomato;
  padding-left: 3px;
}

/* line 6, app/assets/stylesheets/sei-styles.scss */
x-sei.sei-flag::before {
  content: ' ';
  display: inline-block;
  background: url(/assets/sei-flag-90af55d793544fe1893f26677661a4252761afbe811fab0eced85c67bc82f984.png) no-repeat;
  background-size: contain;
  height: 12px;
  width: 12px;
  margin: 0 .1rem;
}

/* line 16, app/assets/stylesheets/sei-styles.scss */
x-sei.sei-flag[generic='true'] {
  display: block;
  border-bottom: 0px;
}

/* line 21, app/assets/stylesheets/sei-styles.scss */
x-sei.sei-flag[generic='true']::after {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.8;
  color: #b65555;
  font-weight: bold;
  content: attr(data-original-title);
}

/* line 29, app/assets/stylesheets/sei-styles.scss */
x-sei.sei-flag[generic='true']::before {
  content: ' ';
  display: inline-block;
  background: url(/assets/dark-flag-2846d82c511a5e9eac3d77542e808566635cce09eebcfdfa2ade0bd860a58663.png) no-repeat;
  background-size: contain;
  height: 12px;
  width: 12px;
  margin: 0 .1rem;
}

/* line 39, app/assets/stylesheets/sei-styles.scss */
#sei-footer {
  display: block;
  border-bottom: 0px;
  margin-top: 20px;
  padding-left: 0px;
}

/* line 46, app/assets/stylesheets/sei-styles.scss */
x-sei#sei-footer.sei-flag::before {
  content: '';
  background: transparent;
}

/* line 52, app/assets/stylesheets/sei-styles.scss */
.modal-content .tooltip-inner {
  color: white;
  text-align: center;
  background-color: red;
  border: solid 1px red;
  background: red;
}

/* line 60, app/assets/stylesheets/sei-styles.scss */
.modal-content .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: red;
  z-index: 100;
}

/* line 66, app/assets/stylesheets/sei-styles.scss */
.modal-dialog {
  width: 900px;
  margin: 30px auto;
  min-height: 300px;
}

/* line 72, app/assets/stylesheets/sei-styles.scss */
.modal-content {
  position: relative;
  min-height: 300px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  color: #222;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* line 89, app/assets/stylesheets/sei-styles.scss */
.modal-wide .modal-body {
  overflow-y: auto;
}

/* line 92, app/assets/stylesheets/sei-styles.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
  line-height: 1.42857143;
}

/* line 99, app/assets/stylesheets/sei-styles.scss */
.modal-body {
  position: relative;
  padding: 0 15px 0 15px;
  overflow: scroll;
}

/* line 104, app/assets/stylesheets/sei-styles.scss */
.modal-body .tooltip {
  position: fixed;
}

/* line 109, app/assets/stylesheets/sei-styles.scss */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

/* line 133, app/assets/stylesheets/sei-styles.scss */
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

/* line 137, app/assets/stylesheets/sei-styles.scss */
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

/* line 141, app/assets/stylesheets/sei-styles.scss */
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

/* line 145, app/assets/stylesheets/sei-styles.scss */
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

/* line 149, app/assets/stylesheets/sei-styles.scss */
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

/* line 153, app/assets/stylesheets/sei-styles.scss */
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

/* line 161, app/assets/stylesheets/sei-styles.scss */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 168, app/assets/stylesheets/sei-styles.scss */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* line 175, app/assets/stylesheets/sei-styles.scss */
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* line 182, app/assets/stylesheets/sei-styles.scss */
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* line 189, app/assets/stylesheets/sei-styles.scss */
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

/* line 196, app/assets/stylesheets/sei-styles.scss */
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

/* line 203, app/assets/stylesheets/sei-styles.scss */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* line 210, app/assets/stylesheets/sei-styles.scss */
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* line 217, app/assets/stylesheets/sei-styles.scss */
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
