:root {
	/* Padding */
	--padding-xs: clamp(0.5rem, 1.5%, 0.75rem);
	--padding-sm: clamp(1rem, 3%, 1.5rem);
	--padding-md: clamp(1.5rem, 6%, 3rem);
	--padding-lg: clamp(3rem, 12%, 6rem);

	/* Margin */
	--block-flow-xs: min(1rem, 2vh);
	--block-flow-sm: min(2rem, 4vh);
	--block-flow-md: min(4rem, 8vh);
	--block-flow-lg: min(8rem, 16vh);
}

.red-flags {
	width: 100%;
	padding: 0 var(--padding-sm) var(--padding-md) var(--padding-sm);

	h2 {
		font-weight: 600;
		margin-block-start: 0;
	}
}

.sei-template {
	text-align: center;
}

.modal-body .tooltip {
	position: absolute;
	font-size: 0.875rem;
}

.modal-body {
	overflow: visible;
}
.tooltip-inner {
	font-size: 0.875rem;
}

.placeholder {
	margin: var(--block-flow-sm) auto 0 auto;
	box-shadow: 0 0.1875rem 0.5625rem rgba(0, 0, 0, 0.5);
	border-radius: 0.375rem;
	max-width: 60rem;
}

.title-bar {
	border-radius: 0.375rem 0.375rem 0 0;
	background-color: #555;
	border-bottom: none;
	display: flex;
	padding: 0 0.75rem;
	align-items: center;
	justify-content: space-between;
}

.title-bar .circles {
	display: flex;
	gap: 0.375rem;
}

.title-bar .circle {
	height: 0.75rem;
	width: 0.75rem;
	border-radius: 100px;
}

.title-bar .circle.red {
	background-color: #ff605c;
}

.title-bar .circle.yellow {
	background-color: #ffbd44;
}

.title-bar .circle.green {
	background-color: #00ca4e;
}

.modal-dialog {
	width: unset;
	margin: unset;
}

.modal-content {
	border-radius: 0 0 0.375rem 0.375rem;
	box-shadow: unset;
	border: none;
	text-wrap: pretty;
}

.toggle-red-flags {
	cursor: pointer;
	padding: 0.25rem 0.75rem;
	border-radius: 50px;
	font-size: 0.9375rem;
	border: none;
	background-color: #777;
	color: #fff;
	margin-block: 0.5rem;
	display: inline-flex;
	gap: 0.25rem;
}

.toggle-red-flags::before {
	content: '';
	display: inline-block;
	background: url(https://training.knowbe4.com/assets/sei-flag-90af55d793544fe1893f26677661a4252761afbe811fab0eced85c67bc82f984.png)
		no-repeat;
	background-size: contain;
	background-position: 0 0.125rem;
	height: 1rem;
	width: 1rem;
}

.toggle-red-flags:active::before {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3842%)
		hue-rotate(130deg) brightness(121%) contrast(105%);
}

.toggle-red-flags:hover,
.toggle-red-flags:focus,
.toggle-red-flags:focus-visible {
	background-color: #333;
	color: #fff;
}

.toggle-red-flags:active {
	background-color: #f00;
	color: #fff;
}

x-sei.sei-flag:hover {
	cursor: pointer;
}

.modal-content {
	font-size: 1rem;
	line-height: 1.5;
}
